.about__wrapper {
  @include container;
}

.about__description {
  position: relative;

  padding-left: 180px;

  &::before {
    content: "";
    position: absolute;

    top: 5px;
    left: -30px;

    width: 155px;
    height: 317px;

    background-image: url("../../img/about-year-desktop.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  h2 {
    margin-top: 0;
    margin-bottom: 22px;

    font-family: "Roboto-Condensed", "Arial", sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 51px;
    color: $basic-grey;
  }

  p {
    margin-bottom: 20px;

    line-height: 22px;
    color: $basic-grey;
  }

  a {
    @include button;

    margin-top: 38px;

    max-width: 180px;
    border-color: $fancy-color;
    color: $fancy-color;

    &:hover,
    &:focus {
      background-color: $fancy-color;
      color: $basic-white;
    }
  }
}

