.about__wrapper {
  @include container;

  position: relative;

  &::before {
    content: "";
    position: absolute;

    left: -405px;
    bottom: -46px;

    width: 636px;
    height: 636px;

    background-image: url("../../img/decor/polygon-grey.svg");
    background-position: center;
    background-repeat: no-repeat;
  }

  &::after {
    content: "";
    position: absolute;
    z-index: -1;

    left: -228px;
    right: 0;
    bottom: 253px;

    margin-left: auto;
    margin-right: auto;

    width: 636px;
    height: 640px;

    background-image: url("../../img/decor/polygon-grey.svg");
    background-position: center;
    background-repeat: no-repeat;

    transform: rotate(180deg);
  }

  @media (max-width: $tablet-width) {
    &::after {
      left: 181px;
      bottom: 187px;
    }
  }
}

.about__description {
  position: relative;

  padding-left: 180px;

  &::before {
    content: "";
    position: absolute;

    top: 5px;
    left: -30px;

    width: 155px;
    height: 317px;

    background-image: url("../../img/about-year-desktop.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  h2 {
    margin-top: 0;
    margin-bottom: 22px;

    font-family: "Roboto-Condensed", "Arial", sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 51px;
    color: $basic-grey;
  }

  a {
    @include button;

    margin-top: 38px;

    max-width: 180px;
    border-color: $fancy-color;
    color: $fancy-color;

    &:hover,
    &:focus {
      background-color: $fancy-color;
      color: $basic-white;
    }
  }

  @media (max-width: $tablet-width) {
    padding-left: 185px;

    &::before {
      top: 2px;
      left: -33px;
      width: 177px;
      height: 354px;
    }

    h2 {
      margin-bottom: 9px;

      font-size: 32px;
      line-height: 45px;
    }

    a {
      margin-top: 43px;
    }
  }

  @media (max-width: $mobile-width) {
    padding-left: 0;

    &::before {
      display: none;
    }

    h2 {
      margin-bottom: 5px;

      font-size: 28px;
      line-height: 39px;
    }

    a {
      margin-top: 29px;
    }
  }
}

.about__text {
  p {
    margin-bottom: 20px;
    padding-right: 5px;

    font-size: 16px;
    line-height: 22px;
    color: $basic-grey;
  }

  @media (max-width: $tablet-width) {
    p {
      &:last-of-type {
        position: relative;
        text-overflow: ellipsis;
      }
    }
  }

  @media (max-width: $mobile-width) {
    p {
      margin-bottom: 40px;
      padding-right: 0;
    }
  }
}
