.callback__wrapper {
  @include container;
}

.callback__content {
  position: relative;

  margin-right: auto;
  margin-left: auto;

  padding-top: 29px;
  padding-right: 39px;
  padding-bottom: 11px;
  padding-left: 39px;

  max-width: 490px;

  background-color: $fancy-color;

  box-sizing: border-box;

  h3 {
    margin-top: 0;
    margin-bottom: 14px;

    font-family: "Roboto-Condensed", "Arial", sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 39px;
    color: $basic-white;
    text-align: start;
  }

  p {
    margin-top: 0;
    padding-left: 4px;

    line-height: 21px;
    color: $basic-white;
    text-align: start;
  }

  @media (max-width: $mobile-width) {
    padding-top: 14px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-left: 15px;
  }
}

.callback__form {
  margin-top: 34px;
}
