.features__wrapper {
  @include container;

  @media (max-width: $tablet-width) {
    padding-right: 24px;
    padding-left: 24px;
  }

  @media (max-width: $mobile-width) {
    padding-right: 16px;
    padding-left: 14px;
  }
}

.features__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;

  @media (max-width: $mobile-width) {
    grid-template-columns: auto;
    gap: 20px;
  }
}

.features__item {
  padding-top: 39px;
  padding-right: 44px;
  padding-bottom: 44px;
  padding-left: 42px;

  min-height: 299px;

  background-color: $basic-white;

  border-top: 1px solid #ebebeb;
  border-right: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  border-left: 3px solid $fancy-color;

  box-sizing: border-box;

  fill: $fancy-color;

  h3 {
    margin-top: 15px;
    margin-bottom: 18px;

    font-family: "Roboto-Condensed", "Arial", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    color: $fancy-color;
  }

  p {
    line-height: 21px;
    color: $basic-grey;
  }

  &:hover,
  &:focus {
    background-color: $fancy-color;
    border-color: $fancy-color;

    fill: $basic-white;

    h3,
    p {
      color: $basic-white;
    }
  }

  @media (max-width: $tablet-width) {
    padding-top: 23px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 25px;

    min-height: 232px;

    h3 {
      margin-top: 3px;
      margin-bottom: 10px;
    }

    p {
      margin-top: 0;
    }
  }

  @media (max-width: $mobile-width) {
    padding-right: 11px;
    padding-bottom: 15px;

    h3 {
      margin-top: 9px;

      font-size: 20px;
      line-height: 28px;
    }
  }
}
