.page-footer {
  padding-top: 65px;

  @media (max-width: $tablet-width) {
    padding-top: 19px;
  }
}

.page-footer__wrapper {
  @include container;

  padding-right: 7px;
  padding-left: 7px;

  max-width: 1440px;
}

.page-footer__content {
  display: flex;
  justify-content: space-between;

  padding-right: 9px;
  padding-bottom: 60px;
  padding-left: 5px;

  @media (max-width: $tablet-width) {
    flex-wrap: wrap;
    padding-right: 0;
    padding-bottom: 36px;
    padding-left: 0;
  }
}

.page-footer__info {
  position: relative;

  span {
    display: none;
  }

  @media (max-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 60px;

    width: 100%;

    &::before {
      content: "";
      position: absolute;
      top: calc(100% + 21px);
      left: -25px;

      width: 100vw;
      height: 1px;

      background-color: transparentize(#626962, 0.8);
    }

    span {
      display: block;

      font-size: 13px;
      line-height: 24px;
      text-transform: uppercase;
      color: transparentize($basic-blue-dark, 0.5);
    }
  }
}


.page-footer__logo {
  margin-bottom: 50px;

  fill: $basic-blue-dark;

  @media (max-width: $tablet-width) {
    margin-bottom: 0;
  }
}


.page-footer__section {
  h2 {
    margin-top: 0;
    margin-bottom: 25px;

    font-family: "Roboto-Condensed", "Arial", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0.05em;
    color: $basic-blue-dark;
    text-transform: uppercase;
  }

  ul {
    margin: 0;
    padding: 0;

    list-style: none;
  }

  li {
    font-size: 15px;
    line-height: 25px;
    color: transparentize($basic-blue-dark, 0.5);
  }

  a {
    color: transparentize($basic-blue-dark, 0.5);
    text-decoration: none;

    &:hover,
    &:focus {
      color: $basic-blue-dark;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

.page-footer__nav {
  display: flex;
  flex-wrap: wrap;
  max-width: 45%;

  box-sizing: border-box;

  h2 {
    width: 100%;
    padding-left: 3%;
  }

  ul {
    &:first-of-type {
      margin-right: 16%;
      padding-left: 3.5%;
    }
  }

  a {
    white-space: nowrap;
  }

  @media (max-width: $tablet-width) {
    h2 {
      padding-left: 0;
    }

    ul {
      &:first-of-type {
        padding-left: 0;
      }
    }
  }

  @media (max-width: $tablet-width) {
    flex-direction: column;
  }
}

.page-footer__contacts {
  justify-self: end;

  @media (max-width: $tablet-width) {
    padding-right: 10px;
  }
}

.page-footer__legal-info {
  padding-top: 7px;
}
