.page-main {
  flex-grow: 1;
}

.page-main__intro {
  padding-top: 120px;

  @media (max-width: $tablet-width) {
    padding-top: 0;
  }
}

.page-main__features {
  padding-top: 111px;

  @media (max-width: $tablet-width) {
    padding-top: 54px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 36px;
  }
}

.page-main__about {
  padding-top: 105px;
  padding-bottom: 110px;

  @media (max-width: $tablet-width) {
    padding-top: 56px;
    padding-bottom: 83px;

    overflow: hidden;
  }

  @media (max-width: $mobile-width) {
    padding-top: 54px;
    padding-bottom: 65px;
  }
}

.page-main__offers {
  padding-top: 88px;
  padding-bottom: 127px;

  @media (max-width: $tablet-width) {
    padding-top: 50px;
    padding-bottom: 78px;
  }

  @media (max-width: $mobile-width) {
    padding-bottom: 64px;
  }
}

.page-main__feedback {
  padding-top: 91px;
  padding-bottom: 113px;

  @media (max-width: $tablet-width) {
    padding-top: 80px;
    padding-bottom: 103px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 30px;
    padding-bottom: 43px;
  }
}
