.page-footer {
  padding-top: 65px;

  @media (max-width: $tablet-width) {
    padding-top: 19px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 46px;
  }
}

.page-footer__wrapper {
  @include container;

  padding-right: 7px;
  padding-left: 7px;

  max-width: 1440px;

  @media (max-width: $mobile-width) {
    padding-right: 0;
    padding-left: 0;
  }
}

.page-footer__content {
  display: flex;
  justify-content: space-between;

  padding-right: 9px;
  padding-bottom: 58px;
  padding-left: 5px;

  @media (max-width: $tablet-width) {
    flex-wrap: wrap;
    padding-right: 0;
    padding-bottom: 36px;
    padding-left: 0;
  }

  @media (max-width: $mobile-width) {
    padding-bottom: 0;
  }
}

.page-footer__info {
  position: relative;

  span {
    display: none;
  }

  @media (max-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-bottom: 60px;

    width: 100%;

    &::before {
      content: "";
      position: absolute;
      top: calc(100% - 39px);
      left: -25px;

      width: 100vw;
      height: 1px;

      background-color: transparentize(#626962, 0.8);
    }

    span {
      display: block;

      font-size: 13px;
      line-height: 24px;
      text-transform: uppercase;
      color: transparentize($basic-blue-dark, 0.5);
    }
  }

  @media (max-width: $mobile-width) {
    flex-direction: column;

    padding-bottom: 46px;

    &::before {
      display: none;
    }
  }
}

.page-footer__logo {
  margin-bottom: 50px;

  a[href] {
    &:hover,
    &:focus {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.5;
    }
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 23px;

    padding-right: 14px;
  }
}

.page-footer__socials {
  @media (max-width: $mobile-width) {
    margin-top: 30px;
  }
}


.page-footer__section {
  h2 {
    margin-top: 0;
    margin-bottom: 25px;

    width: 100%;

    font-family: "Roboto-Condensed", "Arial", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0.05em;
    color: $basic-blue-dark;
    text-transform: uppercase;
  }

  ul {
    margin: 0;
    padding: 0;

    list-style: none;
  }

  li {
    font-size: 15px;
    line-height: 25px;
    color: transparentize($basic-blue-dark, 0.5);
  }

  a {
    color: transparentize($basic-blue-dark, 0.5);
    text-decoration: none;

    &:hover,
    &:focus {
      color: $basic-blue-dark;
    }

    &:active {
      opacity: 0.3;
    }
  }

  @media (max-width: $mobile-width) {
    width: 100%;

    border-bottom: 1px solid transparentize(#626962, 0.8);

    h2 {
      margin-bottom: 0;
      padding-top: 30px;
      padding-bottom: 26px;
      padding-left: 14px;

      width: 100%;

      box-sizing: border-box;
    }

    ul {
      margin-top: 4px;
      padding-right: 15px;
      padding-left: 15px;
    }
  }
}

.page-footer__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 3%;

  width: 516px;

  box-sizing: border-box;

  ul {
    &:last-of-type {
      padding-right: 50px;
    }
  }

  a {
    white-space: nowrap;
  }

  @media (max-width: $tablet-width) {
    padding-left: 0;

    ul {
      &:first-of-type {
        padding-left: 0;
      }
    }
  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
    max-width: 100%;

    ul {
      &:first-of-type {
        padding-left: 15px;
      }
    }
  }
}

.page-footer__contacts {
  justify-self: end;

  @media (max-width: $tablet-width) {
    padding-right: 10px;
  }

  @media (max-width: $mobile-width) {
    padding-right: 0;
  }
}

.page-footer__legal {
  @media (max-width: $tablet-width) {
    padding-top: 7px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 16px;
    padding-bottom: 17px;
  }
}

.page-footer__accordion {
  @media (max-width: $mobile-width) {
    h2 {
      position: relative;

      display: flex;
      align-items: center;

      cursor: pointer;

      &::before,
      &::after {
        content: "";
        position: absolute;
        right: 15px;

        width: 16px;
        height: 1px;

        background-color: #c4c4c4;
      }

      &::after {
        transform: rotate(90deg);
      }

      &:hover,
      &:focus {
        opacity: 0.7;
      }

      &:active {
        opacity: 0.5;
      }
    }

    ul {
      display: none;
    }
  }
}

.page-footer__accordion--active {
  @media (max-width: $mobile-width) {
    padding-bottom: 26px;

    h2 {
      &::after {
        display: none;
      }
    }

    ul {
      display: block;
    }
  }
}

.page-footer__accordion--nojs {
  @media (max-width: $mobile-width) {
    padding-bottom: 26px;

    h2 {
      &::before,
      &::after {
        display: none;
      }
    }

    ul {
      display: block;
    }
  }
}
