.page-main {
  flex-grow: 1;
}

.page-main__intro {
  padding-top: 120px;
}

.page-main__features {
  padding-top: 111px;
}

.page-main__about {
  padding-top: 105px;
  padding-bottom: 110px;
}

.page-main__offers {
  padding-top: 88px;
  padding-bottom: 127px;
}

.page-main__feedback {
  padding-top: 91px;
  padding-bottom: 113px;
}
