@font-face {
  font-family: "PTMono";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src:
    local("PTMono"),
    local("PT-Mono"),
    url("../fonts/pt-mono-regular.woff2") format("woff2"),
    url("../fonts/pt-mono-regular.woff") format("woff");
}

@font-face {
  font-family: "Roboto-Condensed";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src:
    local("RobotoCondensed"),
    local("Roboto-Condensed"),
    url("../fonts/roboto-condensed-regular.woff2") format("woff2"),
    url("../fonts/roboto-condensed-regular.woff") format("woff");
}

@font-face {
  font-family: "RobotoCondensed";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src:
    local("RobotoCondensed"),
    local("Roboto-Condensed"),
    url("../fonts/roboto-condensed-Bold.woff2") format("woff2"),
    url("../fonts/roboto-condensed-Bold.woff") format("woff");
}
